html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** MIXIN: Flexbox ************************************************************/
/* Vertical Align Mixin */
/* Clearfix */
.clearfix {
  display: block;
  clear: both; }

/** Media Query Mixins, Breakpoints **/
@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold"); }
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic"); }
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic"); }
/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Segoe UI", Verdana, Arial, sans-serif;
  font-size: 66.67%; }

body {
  background: #fff; }

.TMP-header {
  background: #1a1a1a;
  width: 100%;
  height: 90px;
  padding-top: 20px; }
  .TMP-header header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }

.TMP--wrapper {
  height: 100%;
  text-align: center;
  width: 100%; }

.TMP--wrapper__options {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 450px;
  height: 400px;
  margin: 0 auto; }
  .TMP--wrapper__options a {
    display: block;
    font-size: 2rem;
    padding: 25px;
    text-decoration: none;
    color: #00bcf2;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    border: 1px dashed #eee;
    padding: 20px;
    margin: 0 5px; }
    .TMP--wrapper__options a:hover {
      background: #00bcf2;
      color: #fff !important; }

.wrapper {
  width: 100%;
  min-width: 960px; }

.panel {
  width: 100%; }

.panel--content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px; }

.navigation {
  width: 100%;
  background: #fff;
  padding: 50px 0; }
  .navigation nav {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }
    .navigation nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      .navigation nav ul li {
        -webkit-box-flex: 1 0 auto;
        -moz-box-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto; }
        .navigation nav ul li a {
          text-decoration: none;
          color: #00bcf2;
          font-weight: 600;
          font-size: 1.4rem;
          text-align: center;
          padding: 20px;
          margin: 0 5px; }
        .navigation nav ul li:hover a {
          background: #EFFCFF; }
  .navigation .navigation--active a {
    background: #00bcf2;
    color: #fff !important; }
  .navigation .navigation--active:hover a {
    background: #00bcf2;
    cursor: default; }

.hero {
  width: 100%;
  background: #fff;
  background: url(../img/homepage--hero.jpg) 0 0 no-repeat #fff;
  background-position: center;
  background-size: cover; }
  .hero--content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 550px;
    min-height: 550px;
    padding: 75px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }
    .hero--content__text {
      -webkit-box-flex: 1 0 500px;
      -moz-box-flex: 1 0 500px;
      -webkit-flex: 1 0 500px;
      -ms-flex: 1 0 500px;
      flex: 1 0 500px;
      color: #fff;
      padding: 0 100px 0 0;
      font-weight: 200; }
      .hero--content__text h1 {
        font-size: 4.4rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200; }
      .hero--content__text p {
        font-size: 1.6rem;
        line-height: 2.1rem; }
    .hero--content__video {
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      height: 100%; }
      .hero--content__video p {
        background: #eee;
        font-size: 3rem;
        min-width: 300px;
        height: 200px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }

.quotes {
  width: 100%;
  background: #fff;
  background: #dedede; }
  .quotes--content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding: 75px 0; }
    .quotes--content__1, .quotes--content__2 {
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: auto;
      color: #686868;
      height: 100%; }
      .quotes--content__1 p, .quotes--content__2 p {
        font-size: 2.4rem;
        line-height: 2.5rem;
        font-style: italic;
        font-weight: 100;
        color: #686868;
        height: 200px;
        border-left: 5px solid #eee;
        padding-left: 15px;
        margin-left: 75px;
        margin-right: 100px; }

.intro {
  width: 100%;
  background: #00bcf2; }
  .intro--content {
    padding: 75px 0; }
    .intro--content__text {
      color: #fff;
      width: 50%; }
      .intro--content__text h1 {
        font-size: 4.4rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200; }
      .intro--content__text p {
        font-size: 1.6rem;
        line-height: 2.1rem; }

.footer1 {
  width: 100%;
  background: #00bcf2; }
  .footer1--content {
    padding: 75px 0; }
    .footer1--content__text {
      color: #fff; }
      .footer1--content__text h1 {
        font-size: 4.4rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200;
        display: inline-block; }
      .footer1--content__text a {
        font-size: 2.5rem;
        padding: 15px 40px 15px 25px;
        display: block;
        background: #80c247;
        color: #fff;
        text-decoration: none;
        font-weight: 200;
        margin-top: 9px;
        float: right;
        position: relative; }
        .footer1--content__text a img {
          width: 16px;
          margin-left: 5px;
          position: absolute;
          right: 15px;
          top: 15px; }

.footer2 {
  width: 100%;
  background: #686868; }
  .footer2--content {
    padding: 75px 0; }
    .footer2--content__text {
      color: #fff; }
      .footer2--content__text h1 {
        font-size: 4.4rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200;
        display: inline-block;
        float: left;
        width: 340px; }
      .footer2--content__text ul {
        float: left;
        margin-top: 10px;
        max-width: 60%; }
        .footer2--content__text ul li {
          font-size: 1.3rem;
          font-weight: 200;
          float: left;
          width: 275px;
          display: block;
          position: relative;
          min-height: 30px;
          margin-bottom: 10px;
          margin-right: 5px; }
          .footer2--content__text ul li img {
            width: 10px;
            height: 18px;
            position: absolute;
            right: 15px;
            top: 0; }

.infographic1 {
  width: 100%;
  background: #fff; }
  .infographic1--content {
    padding-top: 0px;
    padding-bottom: 0px; }

.answer {
  display: none;
  background: #dedede;
  margin-bottom: 75px;
  z-index: 2;
  position: relative; }
  .answer i {
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 25px;
    color: #686868; }
    .answer i:hover {
      cursor: pointer;
      color: #000; }
  .answer > div {
    padding: 50px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
    .answer > div .answer--nav {
      -webkit-box-flex: 1 0 200px;
      -moz-box-flex: 1 0 200px;
      -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
      flex: 1 0 200px;
      width: 200px;
      min-height: 200px; }
      .answer > div .answer--nav ul li {
        font-size: 2em;
        padding: 15px;
        border: 3px solid #dedede;
        margin: 0 0 5px 0;
        color: #686868;
        font-weight: 600; }
        .answer > div .answer--nav ul li:hover {
          border: 3px solid #e8e8e8;
          cursor: pointer; }
        .answer > div .answer--nav ul li.active-nav, .answer > div .answer--nav ul li.active:hover {
          border: 3px solid #fff;
          cursor: default; }
    .answer > div .answer--details {
      display: none;
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 100%;
      margin-left: 50px;
      color: #686868; }
      .answer > div .answer--details h1 {
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200;
        margin-bottom: 10px; }
      .answer > div .answer--details p {
        font-size: 2em;
        line-height: 1.5em; }
      .answer > div .answer--details ul {
        margin: 20px 0 20px 20px;
        list-style-type: decimal; }
        .answer > div .answer--details ul li {
          font-size: 2em;
          margin-bottom: 8px; }
    .answer > div:after {
      content: "";
      display: table;
      clear: both; }

.question {
  margin-bottom: 0px; }
  .question .panel--content {
    position: relative; }
  .question .icons {
    position: absolute;
    background: url("../img/svg-ie10-fix.png") 0 0 repeat; }
    .question .icons svg {
      z-index: -1; }
      .question .icons svg *[stroke="#dedede"],
      .question .icons svg *[stroke="#dfdfde"] {
        display: none; }
    .question .icons:hover svg, .question .icons:hover svg *[fill="#010101"] {
      fill: #00bcf2;
      cursor: pointer; }
    .question .icons.active svg,
    .question .icons.active svg *[fill="#010101"] {
      fill: #00bcf2;
      cursor: pointer; }
    .question .icons.active *[stroke="#dedede"],
    .question .icons.active *[stroke="#dfdfde"] {
      display: block;
      stroke: #dedede;
      fill: none; }

.architecture-1 .answer.answer--infographic7 {
  margin-bottom: 25px; }
.architecture-1 .question--infographic2__content {
  margin-bottom: 40px; }
  .architecture-1 .question--infographic2__content .icons {
    width: 95px;
    height: 330px; }
    .architecture-1 .question--infographic2__content .icons img,
    .architecture-1 .question--infographic2__content .icons svg {
      width: 95px;
      height: 330px; }
    .architecture-1 .question--infographic2__content .icons.icons-A {
      top: -205px;
      left: 327px; }
    .architecture-1 .question--infographic2__content .icons.icons-B {
      top: -265px;
      left: 435px; }
    .architecture-1 .question--infographic2__content .icons.icons-C {
      top: -205px;
      left: 550px; }
.architecture-1 .question--infographic3__content .icons {
  width: 129px;
  height: 329px; }
  .architecture-1 .question--infographic3__content .icons img,
  .architecture-1 .question--infographic3__content .icons svg {
    width: 129px;
    height: 329px; }
  .architecture-1 .question--infographic3__content .icons.icons-A {
    top: -225px;
    left: 247px; }
  .architecture-1 .question--infographic3__content .icons.icons-B {
    top: -170px;
    left: 345px; }
  .architecture-1 .question--infographic3__content .icons.icons-C {
    top: -280px;
    left: 420px;
    z-index: 1; }
  .architecture-1 .question--infographic3__content .icons.icons-D {
    top: -174px;
    left: 488px; }
  .architecture-1 .question--infographic3__content .icons.icons-E {
    top: -225px;
    left: 580px; }
.architecture-1 .question--infographic4__content .icons {
  width: 90px;
  height: 171px; }
  .architecture-1 .question--infographic4__content .icons:hover svg circle, .architecture-1 .question--infographic4__content .icons:hover .svg-labeltext {
    fill: #00bcf2;
    cursor: pointer; }
  .architecture-1 .question--infographic4__content .icons img,
  .architecture-1 .question--infographic4__content .icons svg {
    width: 90px;
    height: 171px; }
  .architecture-1 .question--infographic4__content .icons.icons-A {
    right: 225px;
    top: -113px; }
.architecture-1 .question--infographic5__content .icons {
  width: 157px;
  height: 329px; }
  .architecture-1 .question--infographic5__content .icons:hover g {
    fill: #00bcf2;
    cursor: pointer; }
  .architecture-1 .question--infographic5__content .icons img,
  .architecture-1 .question--infographic5__content .icons svg {
    width: 157px;
    height: 329px; }
  .architecture-1 .question--infographic5__content .icons.icons-A {
    top: -291px;
    left: 407px;
    z-index: 1; }
  .architecture-1 .question--infographic5__content .icons.icons-B {
    top: -180px;
    left: 325px; }
  .architecture-1 .question--infographic5__content .icons.icons-C {
    top: -177px;
    left: 495px; }
.architecture-1 .question--infographic6__content {
  z-index: 2; }
  .architecture-1 .question--infographic6__content .icons {
    width: 105px;
    height: 220px; }
    .architecture-1 .question--infographic6__content .icons img,
    .architecture-1 .question--infographic6__content .icons svg {
      width: 105px;
      height: 220px; }
    .architecture-1 .question--infographic6__content .icons.icons-A {
      left: 230px;
      top: -115px; }
.architecture-1 .question--infographic7 {
  margin-bottom: 50px; }
.architecture-1 .question--infographic7__content .icons {
  width: 105px;
  height: 220px; }
  .architecture-1 .question--infographic7__content .icons img,
  .architecture-1 .question--infographic7__content .icons svg {
    width: 55px;
    height: 284px; }
  .architecture-1 .question--infographic7__content .icons.icons-A {
    width: 193px;
    height: 256px; }
    .architecture-1 .question--infographic7__content .icons.icons-A img,
    .architecture-1 .question--infographic7__content .icons.icons-A svg {
      width: 193px;
      height: 256px; }
  .architecture-1 .question--infographic7__content .icons.icons-H {
    width: 194px;
    height: 256px; }
    .architecture-1 .question--infographic7__content .icons.icons-H img,
    .architecture-1 .question--infographic7__content .icons.icons-H svg {
      width: 194px;
      height: 256px; }
  .architecture-1 .question--infographic7__content .icons.icons-I {
    width: 279px;
    height: 256px; }
    .architecture-1 .question--infographic7__content .icons.icons-I img,
    .architecture-1 .question--infographic7__content .icons.icons-I svg {
      width: 279px;
      height: 491px; }
  .architecture-1 .question--infographic7__content .icons.icons-A {
    left: 406px;
    top: -169px;
    z-index: 2; }
  .architecture-1 .question--infographic7__content .icons.icons-B {
    left: 194px;
    top: -48px; }
  .architecture-1 .question--infographic7__content .icons.icons-C {
    left: 215px;
    top: -97px; }
  .architecture-1 .question--infographic7__content .icons.icons-D {
    left: 248px;
    top: -142px; }
  .architecture-1 .question--infographic7__content .icons.icons-E {
    left: 690px;
    top: -142px;
    z-index: 2; }
  .architecture-1 .question--infographic7__content .icons.icons-F {
    left: 724px;
    top: -102px;
    z-index: 1; }
  .architecture-1 .question--infographic7__content .icons.icons-G {
    left: 747px;
    top: -52px; }
  .architecture-1 .question--infographic7__content .icons.icons-H {
    left: 369px;
    top: -101px;
    z-index: 1; }
  .architecture-1 .question--infographic7__content .icons.icons-I {
    left: 307px;
    top: -84px; }
.architecture-1 .question--infographic8__content .icons {
  width: 127px;
  height: 250px; }
  .architecture-1 .question--infographic8__content .icons img,
  .architecture-1 .question--infographic8__content .icons svg {
    width: 127px;
    height: 250px; }
  .architecture-1 .question--infographic8__content .icons.icons-B {
    width: 160px;
    height: 475px; }
    .architecture-1 .question--infographic8__content .icons.icons-B img,
    .architecture-1 .question--infographic8__content .icons.icons-B svg {
      width: 160px;
      height: 475px; }
  .architecture-1 .question--infographic8__content .icons.icons-C {
    width: 217px;
    height: 475px; }
    .architecture-1 .question--infographic8__content .icons.icons-C img,
    .architecture-1 .question--infographic8__content .icons.icons-C svg {
      width: 217px;
      height: 475px; }
  .architecture-1 .question--infographic8__content .icons.icons-D {
    width: 188px;
    height: 475px; }
    .architecture-1 .question--infographic8__content .icons.icons-D img,
    .architecture-1 .question--infographic8__content .icons.icons-D svg {
      width: 188px;
      height: 475px; }
  .architecture-1 .question--infographic8__content .icons.icons-A {
    top: -156px;
    left: 431px;
    z-index: 1; }
  .architecture-1 .question--infographic8__content .icons.icons-B {
    top: -100px;
    left: 200px; }
  .architecture-1 .question--infographic8__content .icons.icons-C {
    top: -100px;
    left: 350px; }
  .architecture-1 .question--infographic8__content .icons.icons-D {
    top: -101px;
    left: 605px; }

.architecture-2 .panel--content svg {
  width: 100%; }
  .architecture-2 .panel--content svg.infographic--2__fullwidth {
    height: 381.3px; }
  .architecture-2 .panel--content svg.infographic--3__fullwidth {
    height: 382.6px; }
  .architecture-2 .panel--content svg.infographic--4__fullwidth {
    height: 382.7px; }
  .architecture-2 .panel--content svg.infographic--5__fullwidth {
    height: 573.1px; }
  .architecture-2 .panel--content svg.infographic--6__fullwidth {
    height: 341px; }
.architecture-2 .panel.infographic1 {
  margin-top: 70px; }
.architecture-2 .panel.question--infographic2 {
  margin-top: -13px; }
.architecture-2 .panel.question--infographic3 {
  margin-top: -5px; }
.architecture-2 .panel.question--infographic4 {
  margin-top: -13px; }
.architecture-2 .panel.question--infographic5 {
  margin-top: -16px; }
.architecture-2 .panel.question--infographic6 {
  margin-top: -18px;
  padding-bottom: 90px; }
.architecture-2 .answer {
  margin-bottom: 0; }

.architecture-2 svg .icons {
  cursor: pointer; }
  .architecture-2 svg .icons .line {
    stroke: transparent; }
  .architecture-2 svg .icons .button:hover *[stroke="#000"] {
    stroke: #00bcf2; }
  .architecture-2 svg .icons .button:hover .text, .architecture-2 svg .icons .button:hover .icon {
    fill: #00bcf2; }
  .architecture-2 svg .icons .button.bubble:hover {
    fill: #00bcf2; }
  .architecture-2 svg .icons.icons-C:hover .text {
    fill: #00bcf2; }

.architecture-2 svg .icons.active .line {
  stroke: #DEDEDE; }
.architecture-2 svg .icons.active .button *[stroke="#000"] {
  stroke: #00bcf2; }
.architecture-2 svg .icons.active .button .text, .architecture-2 svg .icons.active .button .icon {
  fill: #00bcf2; }
.architecture-2 svg .icons.active .bubble {
  fill: #00bcf2; }
.architecture-2 svg .icons.active.icons-C .text {
  fill: #00bcf2; }

.architecture-3 .question--infographic2__content {
  margin-bottom: 40px; }
  .architecture-3 .question--infographic2__content .icons {
    width: 95px;
    height: 330px; }
    .architecture-3 .question--infographic2__content .icons img,
    .architecture-3 .question--infographic2__content .icons svg {
      width: 95px;
      height: 330px; }
    .architecture-3 .question--infographic2__content .icons.icons-A {
      top: -200px;
      left: 327px; }
    .architecture-3 .question--infographic2__content .icons.icons-B {
      top: -255px;
      left: 435px; }
    .architecture-3 .question--infographic2__content .icons.icons-C {
      top: -200px;
      left: 550px; }
.architecture-3 .question--infographic3__content .icons {
  width: 129px;
  height: 329px; }
  .architecture-3 .question--infographic3__content .icons img,
  .architecture-3 .question--infographic3__content .icons svg {
    width: 129px;
    height: 329px; }
  .architecture-3 .question--infographic3__content .icons.icons-A {
    top: -200px;
    left: 200px; }
  .architecture-3 .question--infographic3__content .icons.icons-B {
    top: -145px;
    left: 290px; }
  .architecture-3 .question--infographic3__content .icons.icons-C {
    top: -125px;
    left: 415px; }
  .architecture-3 .question--infographic3__content .icons.icons-D {
    top: -280px;
    left: 415px;
    z-index: 1; }
  .architecture-3 .question--infographic3__content .icons.icons-E {
    top: -145px;
    left: 543px; }
  .architecture-3 .question--infographic3__content .icons.icons-F {
    top: -185px;
    left: 640px; }
.architecture-3 .question--infographic4,
.architecture-3 .question--infographic5,
.architecture-3 .question--infographic6,
.architecture-3 .question--infographic7,
.architecture-3 .question--infographic8 {
  display: none; }
.architecture-3 .footer1 {
  margin-top: 400px; }

/*# sourceMappingURL=main.css.map */
