html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** MIXIN: Flexbox ************************************************************/
/* Vertical Align Mixin */
/* Clearfix */
.clearfix {
  display: block;
  clear: both; }

/** Media Query Mixins, Breakpoints **/
@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold"); }
@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold"); }
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic"); }
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic"); }
/* Globals
*************************************************/
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-family: "Segoe UI", Verdana, Arial, sans-serif;
  font-size: 66.67%; }

body {
  background: #fff; }

.TMP-header {
  background: #1a1a1a;
  width: 100%;
  height: 90px;
  padding-top: 20px; }
  .TMP-header header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }

.wrapper {
  width: 100%;
  min-width: 960px; }

.panel {
  width: 100%; }

.panel--content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px; }

.navigation {
  width: 100%;
  background: #fff;
  padding: 50px 0; }
  .navigation nav {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }
    .navigation nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
      .navigation nav ul li {
        -webkit-box-flex: 1 0 auto;
        -moz-box-flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        text-align: center;
        border: 1px dashed #eee;
        padding: 20px;
        margin: 0 5px;
        color: #00bcf2;
        font-weight: 600;
        font-size: 1.4rem; }

.hero {
  width: 100%;
  background: #fff;
  background: url(../img/homepage--hero.jpg) 0 0 no-repeat #fff;
  background-position: center; }
  .hero--content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 550px;
    min-height: 550px;
    padding: 75px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }
    .hero--content__text {
      -webkit-box-flex: 1 0 500px;
      -moz-box-flex: 1 0 500px;
      -webkit-flex: 1 0 500px;
      -ms-flex: 1 0 500px;
      flex: 1 0 500px;
      color: #fff;
      padding: 0 100px 0 0;
      font-weight: 200; }
      .hero--content__text h1 {
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200; }
      .hero--content__text p {
        font-size: 1.6rem;
        line-height: 2.1rem; }
    .hero--content__video {
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      height: 100%; }
      .hero--content__video p {
        background: #eee;
        font-size: 3rem;
        min-width: 300px;
        height: 200px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }

.quotes {
  width: 100%;
  background: #fff;
  background: #dedede; }
  .quotes--content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding: 75px 0; }
    .quotes--content__1, .quotes--content__2 {
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: auto;
      color: #686868;
      height: 100%; }
      .quotes--content__1 p, .quotes--content__2 p {
        font-size: 2.4rem;
        line-height: 2.5rem;
        font-style: italic;
        font-weight: 100;
        color: #686868;
        height: 200px;
        border-left: 5px solid #eee;
        padding-left: 15px;
        margin-left: 75px;
        margin-right: 100px; }

.intro {
  width: 100%;
  background: #00bcf2; }
  .intro--content {
    padding: 75px 0; }
    .intro--content__text {
      color: #fff;
      width: 50%; }
      .intro--content__text h1 {
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200; }
      .intro--content__text p {
        font-size: 1.6rem;
        line-height: 2.1rem; }

.infographic1 {
  width: 100%;
  background: #fff; }
  .infographic1--content {
    padding-top: 0px;
    padding-bottom: 0px; }

.answer {
  display: none;
  background: #dedede;
  margin-bottom: 75px;
  z-index: 1;
  position: relative; }
  .answer i {
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 25px;
    color: #686868; }
    .answer i:hover {
      cursor: pointer;
      color: #000; }
  .answer > div {
    padding: 50px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    /* Combination of flex-direction AND flex-wrap, default is row AND nowrap */
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
    .answer > div .answer--nav {
      -webkit-box-flex: 1 0 200px;
      -moz-box-flex: 1 0 200px;
      -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
      flex: 1 0 200px;
      width: 200px;
      min-height: 200px; }
      .answer > div .answer--nav ul li {
        font-size: 2em;
        padding: 15px;
        border: 3px solid #dedede;
        margin: 0 0 5px 0;
        color: #686868;
        font-weight: 600; }
        .answer > div .answer--nav ul li:hover {
          border: 3px solid #e8e8e8;
          cursor: pointer; }
        .answer > div .answer--nav ul li.active-nav, .answer > div .answer--nav ul li.active:hover {
          border: 3px solid #fff;
          cursor: default; }
    .answer > div .answer--details {
      display: none;
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 100%;
      margin-left: 50px;
      color: #686868; }
      .answer > div .answer--details h1 {
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200;
        margin-bottom: 10px; }
      .answer > div .answer--details p {
        font-size: 2em;
        line-height: 1.5em; }
      .answer > div .answer--details ul {
        margin: 20px 0 20px 20px;
        list-style-type: decimal; }
        .answer > div .answer--details ul li {
          font-size: 2em;
          margin-bottom: 8px; }
    .answer > div:after {
      content: "";
      display: table;
      clear: both; }

.question {
  margin-bottom: 0px; }
  .question .icons {
    position: absolute;
    background: url("../img/svg-ie10-fix.png") 0 0 repeat; }
    .question .icons .icons--inactive {
      z-index: -1; }
    .question .icons .icons--active {
      display: none; }
    .question .icons.active svg {
      display: none; }
    .question .icons.active img {
      display: block; }
    .question .icons:hover svg {
      fill: #00bcf2;
      cursor: pointer; }
  .question .panel--content {
    position: relative; }

.question--infographic2__content {
  margin-bottom: 40px; }
  .question--infographic2__content .icons {
    width: 95px;
    height: 330px; }
    .question--infographic2__content .icons img,
    .question--infographic2__content .icons svg {
      width: 95px;
      height: 330px; }
    .question--infographic2__content .icons.icons-A {
      top: -200px;
      left: 327px; }
    .question--infographic2__content .icons.icons-B {
      top: -255px;
      left: 435px; }
    .question--infographic2__content .icons.icons-C {
      top: -200px;
      left: 550px; }

.question--infographic3__content .icons {
  width: 129px;
  height: 329px; }
  .question--infographic3__content .icons img,
  .question--infographic3__content .icons svg {
    width: 129px;
    height: 329px; }
  .question--infographic3__content .icons.icons-A {
    top: -225px;
    left: 247px; }
  .question--infographic3__content .icons.icons-B {
    top: -170px;
    left: 345px; }
  .question--infographic3__content .icons.icons-C {
    top: -280px;
    left: 420px;
    z-index: 1; }
  .question--infographic3__content .icons.icons-D {
    top: -174px;
    left: 488px; }
  .question--infographic3__content .icons.icons-E {
    top: -225px;
    left: 580px; }

/*# sourceMappingURL=main.css.map */
