// Top full-width hero graphic / copy

.footer1 {
  width: 100%;
  background: #00bcf2;
  margin-top: 50px;

  @include respond-to(mobile) {
    margin-top: -1px;
  }

  &--content {
    padding: 55px 0 105px;
    
    @include respond-to(mobile) {
      padding: 30px 0 30px 0;
    }

    &__text {
      color: #fff;

      h1 {
        font-size: 3.2rem;
        line-height: 4.2rem;
        font-weight: 100;
        display: inline-block;
        float:left;

        @include respond-to(mobile) {
          float:none;
          margin: 0 0 15px 15px;
          margin-bottom: 15px;
          font-size: 2.5rem;
          line-height: 2.9rem;
        }
      }

      a {
        font-size: 2rem;
        padding: 15px 40px 15px 15px;
        margin-left: 20px;
        display: block;
        background: #80c247;
        color: #fff;
        text-decoration: none;
        font-weight: 200;
        float: left;
        position: relative;
        line-height: 21px;

        &:hover {
          background: #71AD3E;
        }

        @include respond-to(mobile) {
          float:none;
          font-size: 1.6rem;
          padding: 15px 40px 15px 20px;
          margin: 15px 15px 15px 15px;
        }

        img {
          width: 13px;
          margin-left: 5px;
          position: absolute;
          right: 17px;
          top: 16px;
          line-height: 49px;

          @include respond-to(mobile) {
            width: 15px;
            top: 24px;
          }
        }
      }
    }
  }
}