// Top full-width hero graphic / copy

.hero {
  width: 100%;
  background: #fff;
  background: url(../img/homepage--hero.jpg) 0 0 no-repeat #fff;
  background-position: center;
  background-size: cover;
  margin-bottom: 75px;
  
  &--content {
    min-height: 550px;
    padding: 75px 0 35px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    &__text {
      width: 600px;
      color: #fff; 
      padding: 0 100px 0 0;
      font-weight: 200;
      float: left;

      h1 {
        font-size: 4.4rem;
        line-height: 5.4rem;
        font-weight: 200;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-bottom: 35px;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;

        img {
          float: left;
          margin-top: -7px;
          margin-right: 5px;
        }
      }
    }

    &__subtext {
      background: #00bcf2;
      color: #fff;
      width: 350px;
      float: left;
      padding: 5px 25px 25px 25px;
      margin-top: 135px;
      min-height: 350px;

      h2 {
        font-size: 2.8rem;
        line-height: 6rem;
        
        font-weight: 200;
      }

      p {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
  }
}