// Top full-width hero graphic / copy


.architecture-4 .hero {
  background-image: url(../img/hero--infographic1.jpg);
  background-color: #fff;
}

.architecture-2 .hero {
  background-image: url(../img/hero--infographic2.jpg);
  background-color: #fff;
}

.architecture-3 .hero {
  background-image: url(../img/hero--infographic3.jpg);
  background-color: #fff;
}

.architecture-5 .hero {
  background-image: url(../img/hero--infographic4.jpg);
  background-color: #fff;
}



.hero {
  width: 100%;
  background-position: center;
  background-size: cover;

 
  &--content {
    padding: 75px 0 115px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    &__text {
      width: 475px;
      color: #fff; 
      padding: 0 0px 0 0;
      font-weight: 200;
      float: left;
      margin-right: 50px;

      h1 {
        font-size: 3.6rem;
        line-height: 4.2rem;
        font-weight: 100;
        margin-bottom: 15px;
      }

      p {
        font-size: 2.1rem;
        line-height: 2.5rem;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;

        img {
          float: left;
          margin-top: -7px;
          margin-right: 5px;
        }
      }
    }

    &__subtext {
      background: #00bcf2;
      color: #fff;
      width: 350px;
      float: left;
      padding: 5px 25px 25px 25px;
      margin-top: 135px;
      min-height: 350px;

      h2 {
        font-size: 2.8rem;
        line-height: 6rem;
        
        font-weight: 200;
      }

      p {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
  }
}