////////////////////////////////////////////////////////////
// The panels for infographic 1 of 5 (architecture1.html)
////////////////////////////////////////////////////////////

.architecture-4 {

 
  // [Custom] Question 2 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic2 {
    margin-top: -1px;
  }

  .question--infographic2__fullwidth {
    z-index: -1;
  }

  .question--infographic2__content {  
    margin-bottom: 40px;

    .icons {                                    // Container that the icons for each panels lives within, 
      width: 95px;                              // this contains both the active, and inactive states of the icons 
      height: 330px;

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 95px; height: 330px;     }

      &.icons-A {
        svg {
          width: 135px;
        }
      }

      &.icons-D,
      &.icons-E {
        width: 393px; 
        height: 622px;
        z-index: 1;
        svg {
          width: 393px; 
          height: 622px;
        }
      }

      &.icons-A { top: -275px; left: 416px; z-index: 2; }   // Custom positioning for each icon
      &.icons-B { top: -200px; left: 327px; z-index: 2; }
      &.icons-C { top: -200px; left: 550px; z-index: 2; }
      &.icons-D { top: -175px; left: 61px; }
      &.icons-E { top: -175px; left: 477px;  }
    }
  }


  // [Custom] Question 3 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic3__content {  
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 129px;                             // this contains both the active, and inactive states of the icons 
      height: 329px;

      img,                                      // Setting to standard sizing for each icon SVG file
      svg {     }



    }
  }


  // [Custom] Question 4 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic4__content {  
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 90px; height: 171px;                // this contains both the active, and inactive states of the icons 
      
      &:hover svg circle,
      &:hover .svg-labeltext {                  // Custom selection of SVG objects for this grouping
        fill: #00bcf2;
        cursor: pointer;
      }

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 90px; height: 171px; }

      &.icons-A { right: 225px; top: -113px;}     // Custom positioning for each icon
    }
  }

  // [Custom] Question 5 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic5__content {  
    margin-bottom: 50px;
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 157px;                             // this contains both the active, and inactive states of the icons 
      height: 329px;

      &:hover g {                               // Custom selection of SVG objects for this grouping
        fill: #00bcf2;
        cursor: pointer;
      }

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 157px; height: 329px;    }

      &.icons-A { top: -291px; left: 404px; z-index: 1;}   // Custom positioning for each icon
      &.icons-B { top: -180px; left: 316px; }
      &.icons-C { top: -177px; left: 491px; }
    }
  }

  // [Custom] Answer 7 ///////////////////////////////////////////////////////////////////////////////////////////
  .answer--infographic7 {
    margin-bottom: 35px;

    .answer--details-E {

      ul li  {
        font-size: 1.3rem;
      }

      > ul {

        > li > ul {
          margin-top: 7px;
          list-style-type: lower-alpha;

          > li > ul {
            margin-top: 7px;
            list-style-type: upper-roman;
          }
        }
      }
    }
  }
  
  // [Custom] Question 7 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic7 {
    margin-bottom: 50px;
    margin-top: 130px;
    height: 950px;
  }

  .question--infographic7__content {  

    img[src="img/infographic4/infographic--7__background-circle.svg"] {
      position: absolute;
      top: 120px;
      left: -40px;
      z-index: -1;
    }

    .icons--title {                               // Custom sizing / position for the 'Azure Virtual Network' image
      width: 230px;
      height: 256px;
      position: absolute; 
      left: 348px; 
      top: -140px; 

      img,
      svg {
        width: 230px;
        height: 256px;

      }
    }

    .icons {                                    // Container that the icons for each panels lives within, 
      width: 105px; height: 220px;              // this contains both the active, and inactive states of the icons 
      
      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 55px; height: 284px; }

      &.icons-A {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 194px;
        height: 135px;

        img,
        svg {
          width: 194px;
          height: 135px;
        }
      }

      &.icons-B,
      &.icons-I {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 56px;
        height: 475px;

        img,
        svg {
          width: 56px;
          height: 475px;
        }
      }

      &.icons-C,
      &.icons-H {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 55px;
        height: 350px;

        img,
        svg {
          width: 55px;
          height: 350px;
        }
      }

      &.icons-D,
      &.icons-G {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 55px;
        height: 325px;

        img,
        svg {
          width: 55px;
          height: 325px;
        }
      }

      &.icons-J {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 194px;
        height: 350px;

        img,
        svg {
          width: 194px;
          height: 350px;
        }
      }

      &.icons-K {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 279px;
        height: 620px;

        img,
        svg {
          width: 279px;
          height: 620px;
        }
      }

      &.icons-O {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 315px;
        height: 275px;

        img,
        svg {
          width: 315px;
          height: 275px;
        }
      }

      &.icons-O_left,
      &.icons-O_right {
        width: 480px; 
        height: 1275px;                            // this contains both the active, and inactive states of the icons 
        
        img,                                      // Setting to standard sizing for each icon SVG file
        svg { width: 480px; height: 1275px; }
      }

      &.icons-E {
        width: 650px; 
        height: 1245px;                            // this contains both the active, and inactive states of the icons 
        
                                             // Setting to standard sizing for each icon SVG file
        svg { width: 650px; height: 1245px; }
        img { 
          width: 52px; 
          height: 83px; 
          position: absolute;
          right: 65px;
          bottom: 167px;
        }


        svg path[style="fill:#010101;"] {
          background: red;
        }

        &:hover {

        }
      }


      &.icons-A { left: 380px; top: -158px; z-index: 5; }               // Custom positioning for each icon    
      &.icons-B { left: 171px; top: -225px; z-index: 2; }               // Custom positioning for each icon    
      &.icons-C { left: 192px; top: -144px; z-index: 2; }               // Custom positioning for each icon
      &.icons-D { left: 225px; top: -168px; z-index: 2; }               // Custom positioning for each icon
      &.icons-F { left: 630px; top: -160px; z-index: 2; }   // Custom positioning for each icon
      &.icons-G { left: 667px; top: -168px; z-index: 3;}    // Custom positioning for each icon 
      &.icons-H { left: 701px; top: -144px; z-index: 3; }    // Custom positioning for each icon
      &.icons-I { left: 724px; top: -225px; z-index: 2; }               // Custom positioning for each icon
      &.icons-J { left: 346px; top: -175px; z-index: 3; }    // Custom positioning for each icon
      &.icons-K { left: 284px; top: -191px; z-index: 2; }               // Custom positioning for each icon
      &.icons-O { left: 283px; top: -231px; z-index: 4; }               // Custom positioning for each icon
      &.icons-O_left { left: -80px;  top: -270px; z-index: 1; }               // Custom positioning for each icon
      &.icons-O_right { left: 550px;  top: -270px; z-index: 1; }               // Custom positioning for each icon
      &.icons-E { left: -80px; top: -290px; z-index: 1;}    // Custom positioning for each icon
    }
  }


  // [Custom] Question 7.5 (LEFT of the 2 half circles nested with Question 7 ////////////////////////////////////
  .question--infographic7left__content {  
    height: 300px;
    
    .icons-M {                                    // Container that the icons for each panels lives within, 
      width: 480px; 
      height: initial;                            // this contains both the active, and inactive states of the icons 
      
      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 480px; height: initial; }

      &.icons-M { left: 0px; top: -64px; z-index: 3; }    // Custom positioning for each icon
    }
  }


 // [Custom] Question 7.5 (RIGHT of the 2 half circles nested with Question 7 ////////////////////////////////////
  .question--infographic7right__content {  
    height: 300px;
    margin-top: -300px;

    .icons {                                    // Container that the icons for each panels lives within, 
      width: 480px; height: initial;              // this contains both the active, and inactive states of the icons 
      
      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 480px; height: initial; }

      &.icons-A { right: 0px; top: -64px; z-index: 3; }    // Custom positioning for each icon
    }
  }


  // [Custom] Question 8 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic8__content {  
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 127px;                             // this contains both the active, and inactive states of the icons 
      height: 250px;

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { 
        width: 127px; 
        height: 250px;    
      }

      &.icons-A {                               // Custom sizing / position for the 'Azure Management Tools' image
        width: 230px;
        height: 250px;

        img,
        svg {
          width: 230px;
          height: 250px;
        }
      }

      &.icons-B {                               // Custom sizing / position for the 'Azure Management Tools' image
        width: 160px;
        height: 475px;

        img,
        svg {
          width: 160px;
          height: 475px;
        }

        &:hover {
          svg g[fill="#686868"] {
            fill: #00bcf2;
          }

          svg g[stroke="#010101"] {
            stroke: #00bcf2;
          }

          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }

        &.active {
          svg g[fill="#686868"] {
            fill: #00bcf2;
          }

          svg g[stroke="#010101"] {
            stroke: #00bcf2;
          }

          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }
      }

      &.icons-C {                               // Custom sizing / position for the 'Azure Management Tools' image
        width: 160px;
        height: 475px;

        img,
        svg {
          width: 160px;
          height: 475px;
        }

        &:hover {
          svg g[fill="#686969"] {
            fill: #00bcf2;
          }

          svg g[stroke="#010101"] {
            stroke: #00bcf2;
          }
        }

        &.active {
          svg g[fill="#686969"] {
            fill: #00bcf2;
          }

          svg g[stroke="#010101"] {
            stroke: #00bcf2;
          }
        }
      }



      &.icons-D {                               // Custom sizing / position for the 'OMS For Linux' image
        width: 217px;
        height: 475px;

        img,
        svg {
          width: 217px;
          height: 475px;
        }

        &:hover {
          svg g[fill="#000"] {
            fill: #00bcf2;
          }

          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }

        &.active {
          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }
      }

      &.icons-E {                               // Custom sizing / position for the 'Docker' image
        width: 188px;
        height: 475px;

        img,
        svg {
          width: 188px;
          height: 475px;
        }

        &:hover {
          svg g[fill="#000"],
          svg g[fill="#686868"] {
            fill: #00bcf2;
          }

          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }

        &.active {
          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }

          svg g[fill="#000"],
          svg g[fill="#686868"] {
            fill: #00bcf2;
          }
        }
      }



      &.icons-A { top: -190px; left: 360px; z-index: 1;}   // Custom positioning for each icon
      &.icons-C { top: -100px; left: 197px; }
      &.icons-D { top: -100px; left: 334px; }
      &.icons-E { top: -101px; left: 587px; }
    }
  }




}