////////////////////////////////////////////////////////////
// The panels for infographic 1 of 5 (architecture1.html)
////////////////////////////////////////////////////////////

.architecture-3 {

 
  // [Custom] Question 2 ///////////////////////////////////////////////////////////////////////////////////////////
  .answer--infographic2 {
    margin-bottom: 25px;
  }

  .question--infographic2 {
    margin-top: -1px;
    margin-left: 0px;
  }

  .question--infographic2__fullwidth {
    z-index: -1;
  }

  .question--infographic2__fullwidth-bottom {
    position: absolute;
    top: 235px;
    z-index: -1;
  }

  .question--infographic2__content {  
    margin-bottom: 40px;
    height: 600px;

    .icons {                                    // Container that the icons for each panels lives within, 
      width: 95px;                              // this contains both the active, and inactive states of the icons 
      height: 330px;

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 95px; height: 330px;     }

      &.icons-A {
        width: 129px;
        height: 329px;

        img,
        svg {
          width: 129px;
          height: 329px;
        }
      }


      &.icons-A { top: -273px; left: 420px; z-index: 3; }
      &.icons-B { top: -200px; left: 327px; z-index: 3; }   // Custom positioning for each icon
      &.icons-C { top: -200px; left: 550px; z-index: 3; }

      &.icons-D { top: -260px; left: 168px; z-index: 2; }
      &.icons-E { top:  -66px; left: 151px; z-index: 1; }
      &.icons-F { top: -156px; left: 419px; }
      &.icons-G { top:  -64px; left: 557px; z-index: 1; }
      &.icons-H { top: -257px; left: 672px; z-index: 2; }

      &.icons-D {
        width: 129px;
        height: 640px;

        img, 
        svg {
          width: 129px;
          height: 640px;
        }
      }

      &.icons-E {
        width: 260px;
        height: 500px;

        img, 
        svg {
          width: 260px;
          height: 500px;
        }
      }

      &.icons-F {
        width: 129px;
        height: 600px;

        img, 
        svg {
          width: 129px;
          height: 600px;
        }
      }

      &.icons-G {
        width: 260px;
        height: 500px;

        img, 
        svg {
          width: 260px;
          height: 500px;
        }
      }

      &.icons-H {
        width: 129px;
        height: 640px;

        img, 
        svg {
          width: 129px;
          height: 640px;
        }
      }

    }
  }


  // [Custom] Question 3 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic3__content {  
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 129px;                             // this contains both the active, and inactive states of the icons 
      height: 329px;

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 129px; height: 329px;    }

      &.icons-D,
      &.icons-E,
      &.icons-F,
      &.icons-G,
      &.icons-H {
        width: 129px;
        height: 329px;

        img, 
        svg {
          width: 129px;
          height: 329px;
        }
      }

      &.icons-D { top: -145px; left: 290px; }
      &.icons-E { top: -125px; left: 415px; }
      &.icons-F { top: -280px; left: 415px; z-index: 1;}
      &.icons-G { top: -145px; left: 543px; }
      &.icons-H { top: -185px; left: 640px; }
    }
  }


  // [Custom] Question 4 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic4__content {  
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 90px; height: 171px;                // this contains both the active, and inactive states of the icons 
      
      &:hover svg circle,
      &:hover .svg-labeltext {                  // Custom selection of SVG objects for this grouping
        fill: #00bcf2;
        cursor: pointer;
      }

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 90px; height: 171px; }

      &.icons-A { right: 225px; top: -113px;}     // Custom positioning for each icon
    }
  }

  // [Custom] Question 5 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic5__content {  
    margin-bottom: 50px;
    z-index: 3;
    
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 157px;                             // this contains both the active, and inactive states of the icons 
      height: 329px;

      &:hover g {                               // Custom selection of SVG objects for this grouping
        fill: #00bcf2;
        cursor: pointer;
      }

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 157px; height: 329px;    }

      &.icons-A { top: -291px; left: 424px; z-index: 1;}   // Custom positioning for each icon
      &.icons-B { top: -180px; left: 336px; }
      &.icons-C { top: -177px; left: 511px; }
    }
  }

  // [Custom] Question 7 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic7 {
    margin-bottom: 50px;
  }

  .question--infographic7__content {  
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 105px; height: 220px;              // this contains both the active, and inactive states of the icons 
      
      img,                                      // Setting to standard sizing for each icon SVG file
      svg { width: 55px; height: 284px; }

      &.icons-A {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 193px;
        height: 256px;

        img,
        svg {
          width: 193px;
          height: 256px;
        }
      }

      &.icons-B,
      &.icons-I {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 56px;
        height: 325px;

        img,
        svg {
          width: 56px;
          height: 325px;
        }
      }

      &.icons-J {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 194px;
        height: 256px;

        img,
        svg {
          width: 194px;
          height: 256px;
        }
      }

      &.icons-K {                               // Custom sizing / position for the 'Azure Virtual Network' image
        width: 279px;
        height: 256px;

        img,
        svg {
          width: 279px;
          height: 491px;
        }
      }


      &.icons-A { left: 406px; top: -169px; z-index: 2; }    // Custom positioning for each icon
      &.icons-B { left: 194px; top:  -94px; }    // Custom positioning for each icon    
      &.icons-C { left: 215px; top:  -97px; }    // Custom positioning for each icon
      &.icons-D { left: 248px; top: -142px; }    // Custom positioning for each icon
      &.icons-E { left: 285px; top: -170px; z-index: 2;}    // Custom positioning for each icon
      &.icons-F { left: 653px; top: -180px; z-index: 1; }    // Custom positioning for each icon      &.icons-E { left: 690px; top: -142px; z-index: 2;}    // Custom positioning for each icon
      &.icons-G { left: 690px; top: -142px; z-index: 2;}    // Custom positioning for each icon      &.icons-E { left: 690px; top: -142px; z-index: 2;}    // Custom positioning for each icon
      &.icons-H { left: 724px; top: -102px; z-index: 1; }    // Custom positioning for each icon
      &.icons-I { left: 747px; top:  -95px; }    // Custom positioning for each icon
      &.icons-J { left: 369px; top: -101px; z-index: 1; }    // Custom positioning for each icon
      &.icons-K { left: 307px; top:  -81px; }    // Custom positioning for each icon
    }
  }

  // [Custom] Question 8 ///////////////////////////////////////////////////////////////////////////////////////////
  .question--infographic8__content {  
    .icons {                                    // Container that the icons for each panels lives within, 
      width: 127px;                             // this contains both the active, and inactive states of the icons 
      height: 250px;

      img,                                      // Setting to standard sizing for each icon SVG file
      svg { 
        width: 127px; 
        height: 250px;    
      }

      &.icons-B {                               // Custom sizing / position for the 'Azure Management Tools' image
        width: 160px;
        height: 475px;

        img,
        svg {
          width: 160px;
          height: 475px;
        }

        &:hover {
          svg g[fill="#686969"] {
            fill: #00bcf2;
          }

          svg g[stroke="#010101"] {
            stroke: #00bcf2;
          }
        }

        &.active {
          svg g[fill="#686969"] {
            fill: #00bcf2;
          }

          svg g[stroke="#010101"] {
            stroke: #00bcf2;
          }
        }
      }



      &.icons-C {                               // Custom sizing / position for the 'OMS For Linux' image
        width: 217px;
        height: 475px;

        img,
        svg {
          width: 217px;
          height: 475px;
        }

        &:hover {
          svg g[fill="#000"] {
            fill: #00bcf2;
          }

          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }

        &.active {
          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }
      }

      &.icons-D {                               // Custom sizing / position for the 'Docker' image
        width: 188px;
        height: 475px;

        img,
        svg {
          width: 188px;
          height: 475px;
        }

        &:hover {
          svg g[fill="#000"],
          svg g[fill="#686868"] {
            fill: #00bcf2;
          }

          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }
        }

        &.active {
          svg g[stroke="#000"] {
            stroke: #00bcf2;
          }

          svg g[fill="#000"],
          svg g[fill="#686868"] {
            fill: #00bcf2;
          }
        }
      }



      &.icons-A { top: -190px; left: 431px; z-index: 1;}   // Custom positioning for each icon
      &.icons-B { top: -100px; left: 200px; }
      &.icons-C { top: -100px; left: 350px; }
      &.icons-D { top: -101px; left: 605px; }
    }
  }



  .footer1 {
    margin-top: 400px;
  }
}