// The panels for each section of the infographic, 
// includes the graphic and the sliding section attached


// Hero infographic, no interaction
.infographic1 {
  width: 100%;
  background: #fff;

  &--content {
    padding-top: 0px;
    padding-bottom: 0px;

    img {    

    }
  }
}


// [Globals] Answers Panels ///////////////////////////////////////////////////////////////////////////////////////
.answer {
  display:none;
  background: #dedede;
  margin-bottom: 75px;
  z-index: 1;
  position: relative;

  i {
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 25px;
    color: #686868;  
    
    &:hover {
      cursor: pointer;
      color: #000;
    }
  }

  > div {
    padding: 50px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    @include flexbox();
    @include flex-flow(row nowrap);

    .answer--nav {
      @include flex(1 0 200px);
      width: 200px;
      min-height: 200px;

      ul {

        li {
          font-size: 2em;
          padding: 15px;
          border: 3px solid #dedede;
          margin: 0 0 5px 0;
          color: #686868;
          font-weight: 600;

          &:hover {
            border: 3px solid #e8e8e8;
            cursor: pointer;
          }

          &.active-nav,
          &.active:hover {
            border: 3px solid #fff;
            cursor: default;
          }
        }
      }
    }

    .answer--details {
      display: none;
      @include flex(1 1 auto);
      width: 100%;
      margin-left: 50px;
      color: #686868;

      h1 {
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200;
        margin-bottom: 10px;
      }

      p {
        font-size: 2em;
        line-height: 1.5em;
      }

      ul {
        margin: 20px 0 20px 20px;
        list-style-type: decimal;

        li {
          font-size: 2em;
          margin-bottom: 8px;
        }
      }
    } 

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}


// [Global] Question panels ///////////////////////////////////////////////////////////////////////////////////////
.question {
  margin-bottom: 0px;

  .icons {
    position: absolute;
    background: url('../img/svg-ie10-fix.png') 0 0 repeat; // IE10 does not like hovering over SVGs, but behaves if
                                                        // it's container has a background of some sort.
    .icons--inactive {
      z-index: -1;
    }

    .icons--active {                          // Hiding Inactive / Showing Active
      display: none;
    }

    &.active {                                // Showing Active / Hiding inactive
      svg { display: none; }
      img { display: block; }
    }
    
    &:hover svg {                             // Changing icons to blue when hovered
      fill: #00bcf2;
      cursor: pointer;
    }
  }

 .panel--content {
    position: relative;
  }
}

// [Custom] Question 1 ///////////////////////////////////////////////////////////////////////////////////////////
// Just the overview image.


// [Custom] Question 2 ///////////////////////////////////////////////////////////////////////////////////////////
.question--infographic2__content {  
  margin-bottom: 40px;

  .icons {                                    // Container that the icons for each panels lives within, 
    width: 95px;                              // this contains both the active, and inactive states of the icons 
    height: 330px;

    img,                                      // Setting to standard sizing for each icon SVG file
    svg { width: 95px; height: 330px;     }

    &.icons-A { top: -200px; left: 327px; }   // Custom positioning for each icon
    &.icons-B { top: -255px; left: 435px; }
    &.icons-C { top: -200px; left: 550px; }
  }
}


// [Custom] Question 3 ///////////////////////////////////////////////////////////////////////////////////////////
.question--infographic3__content {  
  .icons {                                    // Container that the icons for each panels lives within, 
    width: 129px;                             // this contains both the active, and inactive states of the icons 
    height: 329px;

    img,                                      // Setting to standard sizing for each icon SVG file
    svg { width: 129px; height: 329px;    }

    &.icons-A { top: -225px; left: 247px; }   // Custom positioning for each icon
    &.icons-B { top: -170px; left: 345px; }
    &.icons-C { top: -280px; left: 420px; z-index: 1;}
    &.icons-D { top: -174px; left: 488px; }
    &.icons-E { top: -225px; left: 580px; }
  }
}


// [Custom] Question 4 ///////////////////////////////////////////////////////////////////////////////////////////