.architecture-2 {

  .panel {

    &--content {
      svg {
        width: 100%; 
        margin-bottom: -7px; 

        &.infographic--2__fullwidth {
          height: 381.3px; 
        }

        &.infographic--3__fullwidth {
          height: 382.6px; 
        }

        &.infographic--4__fullwidth {
          height: 382.7px; 
        }

        &.infographic--5__fullwidth {
          height: 573.1px; 
          margin-bottom: -11px; 
        }

        &.infographic--6__fullwidth {
          height: 341px; 
        }

      }
    }

    &.infographic1 {
      margin-top: 70px; 
    }

    &.question { 

      &--infographic2 {
        margin-top: -6px; 
      }

      &--infographic3 {
        margin-top: -6px; 
      }

      &--infographic4 {
        margin-top: -6px; 
      }

      &--infographic5 {
        margin-top: -9px;
      }

      &--infographic6 {
        margin-top: -7px;
        padding-bottom: 90px; 
      }
    }
  }

  .answer {
    margin-bottom: 0; 
  }

}

$color__primary: #00bcf2; 
$color__grey--light: #DEDEDE;
$color__grey: #A8A8A8; 
$color__grey--dark: #898989; 

.architecture-2 svg .icons {
  cursor: pointer; 

  .line {
    stroke: transparent; 
  }

  .button {
    &:hover {
      *[stroke="#000"] {
        stroke: $color__primary; 
        fill: $color__primary;
      }

      .text:not(*[fill="#FFF"]), .icon {
        fill: $color__primary; 
      }

    }

    &.bubble {
      &:hover { 
        fill: $color__primary;
      }
    }
  }
}

.architecture-2 svg .icons.active {
  
  .line {
    stroke: $color__grey--light; 
  }

  .button {
    *[stroke="#000"] {
      stroke: $color__primary; 
      fill: $color__primary;
    }

    .text:not(*[fill="#FFF"]), .icon {
      fill: $color__primary; 
    }

  }

  .bubble {
    fill: $color__primary;
  }

}

.architecture-2 svg .static {

  .bubble {
    fill: $color__grey--light; 

    .icon {
      fill: $color__grey--dark; 
    }
  }

  .outline {

    .text {
      fill: $color__grey--dark; 
    }
  }

  .azureBlue {
    fill: $color__grey--dark; 
  }

}

svg.infographic--5__fullwidth {

  .button:hover {
    .icon {
      fill: $color__primary; 
    }
  }

  .icons.active {
    .button {
      .icon {
        fill: $color__primary; 
      }
    }
  }

  .icons-C:hover .text {
    fill: $color__primary; 
  }

  .icons-C.active .text {
    fill: $color__primary; 
  }

  .icons-B:hover, .icons-B.active {
    .bubble .icon {
      fill: #FFF; 
    }
  }

}

svg.infographic--6__fullwidth {

  .icons-A .button {
    &:hover {
      *[stroke="#000"] {
        stroke: $color__primary; 
        fill: #FFF;
      }
    }
  }

  .icons-A.active {
    .button {
      *[stroke="#000"] {
        stroke: $color__primary; 
        fill: #FFF;
      }
    }
  }

}
