.overview {

  &--content {
    width: 100%;
    max-width: 960px;
    margin: 50px auto 70px;
    position: relative;

    h1 {
      font-size: 3.6rem;
      line-height: 4.2rem;
      font-weight: 100;
      color: #00bcf2;
      margin-bottom: 15px;
    }

    p {
      color: #00bcf2;
      font-size: 1.4rem;
      line-height: 2rem;
      width: 450px;
      margin-bottom: 50px;
    }
  }

  button.intro--content__button-open {
    font-size: 17px;
    padding: 5px 15px;
    border: 2px solid #21BBEE;
    position: absolute;
    top: 55px;
    right: 10px;
    height: 50px;
    color: #21BBEE;
    background: #fff;
    
    &:hover {
      background: #21BBEE;
      color: #fff;
    }

    &:focus {
      outline: none;
    }
  }

  button.intro--content__button-close {
    font-size: 17px;
    padding: 5px 15px;
    border: 2px solid #21BBEE;
    position: absolute;
    top: 55px;
    right: 140px;
    height: 50px;
    color: #21BBEE;
    background: #fff;
    display: none;
    &:hover {
      background: #fff;
      color: #21BBEE;
    }

    &:focus {
      outline: none;
    }
  }
}


// Intro panel for each of the pages, right above the infographic
.intro {
  width: 100%;
  background: #21BBEE;
  display: none;
  

  &--content {
    padding: 65px 0 75px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    
    &__text {
      color: #fff;
      position: relative;

      img {
        width: 35px;
        height: 35px;
        padding: 10px;
        display: block;
        position: absolute;
        right: 5px;
        top: -40px;
        @include opacity(.7);

        &:hover {
          @include opacity(1);
          cursor: pointer;
        }
      }

      h1 {
        font-size: 3.6rem;
        line-height: 4.2rem;
        font-weight: 100;
        margin-bottom: 18px;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-bottom: 20px;
        font-weight: 400;

        &.intro--content__text-first {
          font-size: 2.5rem;
          line-height: 3.3rem;
          font-weight: 400;
          margin-bottom: 40px;
          position: relative;
        }
      }
    }

    // Copy below the fold 
    .intro--content__collapsed {
      -webkit-column-count: 2;
      -moz-column-count:2;
      column-count:2;
      -webkit-column-gap: 4rem;
      -moz-column-gap: 4rem;
      column-gap: 4rem;
      height: auto;
      position: relative;
    }
  }
}