// The panels for each section of the infographic, 
// includes the graphic and the sliding section attached


// Hero infographic, no interaction
.infographic1 {
  width: 100%;
  background: #fff;

  &--content {
    padding-top: 0px;
    padding-bottom: 0px;

    img {    

    }
  }
}


.question {
  margin-bottom: 0px;

  .panel--content {
    position: relative;
  }
}



// Answers Panel
.answer {
  display:none;
  background: #dedede;
  margin-bottom: 75px;
  z-index: 1;
  position: relative;

  i {
    font-size: 20px;
    position: absolute;
    right: 10%;
    top: 25px;
    color: #686868;  
    
    &:hover {
      cursor: pointer;
      color: #000;
    }
  }

  > div {
    padding: 50px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    @include flexbox();
    @include flex-flow(row nowrap);

    .answer--nav {
      @include flex(1 0 200px);
      width: 200px;
      min-height: 200px;

      ul {

        li {
          font-size: 2em;
          padding: 15px;
          border: 3px solid #dedede;
          margin: 0 0 5px 0;
          color: #686868;
          font-weight: 600;

          &.active-nav,
          &.active:hover {
            border: 3px solid #fff;
            cursor: default;
          }

          &:hover {
            border: 3px solid #e8e8e8;
            cursor: pointer;
          }
        }
      }
    }

    .answer--details {
      display: none;
      @include flex(1 1 auto);
      margin-left: 50px;
      color: #686868;

      h1 {
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200;
        margin-bottom: 10px;
      }

      p {
        font-size: 2em;
        line-height: 1.5em;
      }

      ul {
        margin: 20px 0 20px 20px;
        list-style-type: decimal;

        li {
          font-size: 2em;
          margin-bottom: 8px;
        }
      }
    } 

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}



// Question 1 image positioning
.question--infographic2__content {

  // Container that the icons for each panels lives within
  // This contains both the active, and inactive states of the icons 
  .icons {
    position: absolute;
    width: 95px;
    height: 330px;

    // Toggling active/inactive icons
    .icons--active {
      display: none;
    }

    &.active {
      svg { display: none; }
      img { display: block; }
    }

    // Setting to standard sizing for each icon SVG file
    img,
    svg {
      width: 95px;
      height: 330px;

    }

    svg:hover {
      fill: #00bcf2;
      cursor: pointer;
    }

    // Positiong each of the clickable icons on the panel
    &.icons-2A {
      top: -200px;
      left: 327px;
    }

    &.icons-2B {
      top: -255px;
      left: 435px;
    }

    &.icons-2C {
      top: -200px;
      left: 550px;
    }
  }
}