// Intro panel for each of the pages, right above the infographic

.intro {
  width: 100%;
  background: #00bcf2;

  &--content {
    padding: 75px 0;
    &__text {
      color: #fff;
      width: 50%;

      h1 {
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
        font-weight: 200;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }

    }
  }
}