.architecture-2 {

  .panel {

    &--content {
      svg {
        width: 100%; 

        &.infographic--2__fullwidth {
          height: 381.3px; 
        }

        &.infographic--3__fullwidth {
          height: 382.6px; 
        }

        &.infographic--4__fullwidth {
          height: 382.7px; 
        }

        &.infographic--5__fullwidth {
          height: 573.1px; 
        }

        &.infographic--6__fullwidth {
          height: 341px; 
        }

      }
    }

    &.infographic1 {
      margin-top: 70px; 
    }

    &.question { 

      &--infographic2 {
        margin-top: -13px; 
      }

      &--infographic3 {
        margin-top: -5px; 
      }

      &--infographic4 {
        margin-top: -13px; 
      }

      &--infographic5 {
        margin-top: -16px;
      }

      &--infographic6 {
        margin-top: -18px;
        padding-bottom: 90px; 
      }
    }
  }

  .answer {
    margin-bottom: 0; 
  }

}

$color__primary: #00bcf2; 
$color__line: #DEDEDE; 

.architecture-2 svg .icons {
  cursor: pointer; 

  .line {
    stroke: transparent; 
  }

  .button {
    &:hover {
      *[stroke="#000"] {
        stroke: $color__primary; 
      }

      .text, .icon {
        fill: $color__primary; 
      }
    }

    &.bubble {
      &:hover { 
        fill: $color__primary;
      }
    }
  }

  &.icons-C:hover .text {
    fill: $color__primary; 
  }

}

.architecture-2 svg .icons.active {
  
  .line {
    stroke: $color__line; 
  }

  .button {
    *[stroke="#000"] {
      stroke: $color__primary; 
    }

    .text, .icon {
      fill: $color__primary; 
    }
  }

  .bubble {
    fill: $color__primary;
  }

  &.icons-C .text {
    fill: $color__primary; 
  }

}