// 4 Item Navigation at top of document, just below the Microsoft wrapper

.navigation {
  width: 100%;
  background: #fff;
  padding: 50px 0;

  nav {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    ul {
      @include flexbox();
      @include flex-flow(row nowrap);

      li {
        @include flex(1 0 auto);

        a {
          text-decoration: none;
          color: #00bcf2;
          font-weight: 600;
          font-size: 1.4rem;          
          text-align: center;
          padding: 20px;
          margin: 0 5px;
        }

        &:hover a {
          background: #EFFCFF;
        }
      }
    }
  }



  .navigation--active {
    a {
      background: #00bcf2;
      color: #fff !important;
    }

    &:hover a {
      background: #00bcf2;
      cursor: default;
    }
  }
}